// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// output "DP-4" {
//     // mode "2560x1440@164.958"
//     mode "1920x1080@120.000"
//     scale 1.2
//     transform "normal"
//     position x=0 y=800
// }

// Integrated GFX (CS2)
// output "DP-4" {
//     // mode "2560x1440@164.958"
//     mode "2560x1440@164.958"
//     scale 1.2
//     transform "normal"
//     position x=0 y=800
//     focus-at-startup
//     hot-corners {
//       off
//     }
// }

// Graphics Card: NVIDIA GeForce RTX 
output "DP-2" {
    // mode "2560x1440@164.958"
    mode "3440x1440@180.000"
    scale 1.2
    transform "normal"
    position x=0 y=0
    focus-at-startup
    hot-corners {
      off
    }
}

output "DP-5" {
    mode "3840x2160@60.000"
    scale 1.6
    transform "90"
    // position x=1600 y=0
    position x=2133 y=0
    hot-corners {
      bottom-left
    }
}


output "DP-4" {
    mode "3840x2160@60.000"
    scale 1.6
    // transform "90"
    // position x=1600 y=0
    position x=2133 y=0
    hot-corners {
      bottom-left
    }
}
