window-rule {
  geometry-corner-radius 10 // Set every window radius to 20
  clip-to-geometry true
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

// Open the Firefox picture-in-picture window at the bottom-left corner of the screen
// with a small gap.
window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { fixed 313; }

    default-floating-position x=32 y=32 relative-to="bottom-left"
}


workspace "chat" {
    open-on-output "DP-5"
}

window-rule {
  // Unset on this workspace.
  match at-startup=true app-id="discord" 
  open-maximized-to-edges true
  open-on-workspace "chat"
}


// steam
/////////
workspace "steam" {
    open-on-output "DP-2"
}

window-rule {
    match app-id="steam$" title="^Picture-in-Picture$"
    open-on-output "DP-2"
    open-maximized-to-edges true
    open-on-workspace "steam"
}

window-rule { 
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-focused false
    open-on-workspace "steam"
}

window-rule {
    match app-id="cs2" 
    open-on-output "DP-2"
    open-maximized-to-edges true
    open-on-workspace "steam"
}
