window-rule {
  geometry-corner-radius 20 // Set every window radius to 20
  clip-to-geometry true
}

// window-rule {
  // open-maximized true
// }


// Open the Firefox picture-in-picture window at the bottom-left corner of the screen
// with a small gap.
window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { fixed 313; }

    default-floating-position x=32 y=32 relative-to="bottom-left"
}


window-rule {
    match app-id="steam$" title="^Picture-in-Picture$"
    open-on-output "HDMI-A-1"
    open-maximized-to-edges true
    open-on-workspace "steam"
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
